.book > div:first-child > p{
    margin: 0;
    margin-left: 3%;
}
.book{
    padding-top: 8%;
}

.book_container{
    width: 94%;
    display: flex;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 5%;
}

.Book_Left{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    background-color: white;
    margin-right: 3%;
    border-radius: 10px;
    top: 0;
    position: sticky;
    align-self: flex-start;
}
.Additional{
    margin-left: 3%;
}
.Additional > ul{
    margin-left: 3%;
}
.Additional > ul > li{
    line-height: 30px;
}
.Small_img{
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
    width: 91%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.Small_img > div{
    width: 23%;
}

.book_info > table > tbody > tr{
    line-height: 30px;
}
.Header_Info{
    display: flex;
}
.Header_Info > div:last-child{
    margin-left: 20%;
}
.book_info > table{
    width: 100%;
    border-collapse: collapse; /* Đảm bảo các đường viền không bị chồng chéo */
}
.book_info > table > tbody > tr> td{
    border-bottom: 0.5px solid #c8c8c8;
}
.book_info > table > tbody > tr> td:first-child{
    color: rgb(74, 74, 74);
}
.book_info > table > tbody > tr> td:last-child{
    padding-left: 5%;
}
.Small_img > div > img{
    width: 90%;
}
.Small_img:hover{
    border: 1px solid blue;
}
.Small_img > div > img:hover{
    border: 1px solid blue;
}
.Book_Left > .img{
    margin-left: 35%;
}


.Buy_Book > a{
    margin-left: 3%;
}

.Buy_Book > a:first-child{
    border: 2px solid #c92127;
    text-align: center;
    padding: 1px;
    border-radius: 10px;
    color: #c92127;
    font-weight: bold;
    width: 45%;
}
.Buy_Book > a:last-child{
    background-color: #c92127;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    color: #c92127;
    font-weight: bold;
    padding-right: 3%;
    width: 40%;
}
.Buy_Book > a:last-child > p{
    color: white;
    margin-left: 5%;

}
.Book_Right{
    width: 60%;
}
.Book_Right > div{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 3%;
}
.Buy_Book{
    display: flex;
}

.Book_description > ul > li{
line-height: 35px;
}