@import url(/CSS/KeyFrame.css);
* {
    font-family: Helvetica, sans-serif, Arial, 'Times New Roman';
    scroll-behavior: smooth;
}

@media only screen and (max-width: 950px){
    *{
        display: none;
    }
}

::-webkit-scrollbar { width: 0 !important }
.preloader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
    background-color: #1d1f39;
  }

  .preloader > img{
    width: 30%;
  }
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.Scrollup{
    position: absolute;
    margin-top: 1%;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-right: 1%;
    margin-bottom: 2%;
}

.sec3{
    position: relative;
}

.Scrollup > a:hover{
    color: rgb(255, 123, 0) !important;
    transition: 0.3s ease-in-out;
}


.Scrolldown{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    margin-right: 1%;
    margin-bottom: 2%;
}

.Scrolldown > a{
    color: white;
}

.Scrolldown > a:hover{
    color: rgb(255, 123, 0);
    transition: 0.3s ease-in-out;
}

.sec2 {
    position: relative;
}
/* Menu */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 1%;
    color: white;
    transition: top 0.3s;
}

header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

header.hidden {
    opacity: 0;
    display: none;
}

/* menu phần trái*/
.menu_left {
    position: relative;
    width: 65%;
}

.menu_left>ul{
    display: flex;
    float: right;
}

.menu_left>ul>li{
    margin-right: 1.3rem;
}



.menu_left>ul>li>a {
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    border: 1px solid #5e676a;
    background-color: transparent;
    overflow: hidden;
    padding: 10px;
    border-radius: 20px;
    transition: color 0.3s ease-in-out;
}

.menu_left>ul>li>a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ff9800;
    transition:  0.3s ease-in-out;
    z-index: -1;
}

.menu_left>ul>li>a:hover::before{
    margin-left: 0%;
}


/*Hiệu ứng cho menu trái*/
/* logo menu */
.Nav_Logo {
    width: 30%;
    font-size: 25px;

}
.Nav_Logo >p {
    font-family: 'Times New Roman', Times, serif
}
.Main_Page{
    position: relative;
}
.Cinema {
    position: relative;
}

.Video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Video_container > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Cinema_content{
    padding-top: 12%;
    color: white;

}

.Cinema_content > .Over_View{
    display: flex;

}

.Cinema_content > .Over_View > div:nth-child(2){
    width: 40%;
    margin-right: 8%;
    margin-left: 2%;
}
.Cinema_content > .Over_View > div:not(:nth-child(2)){
    width: 18%;
    margin-left: 2%;
}

.Main_Text{
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 4%;
    padding-bottom: 6%;
}

.Main_Text > .Header >h1{
    font-size: 30px;
}

.Main_Text > .Header >h2{
    font-size: 38px;
}

.Cinema_content > .Over_View{
    padding-bottom: 3%;
}

.Cinema_content > .Over_View > div:nth-child(3) > ul > li > h2{
    font-size: 20px;
}
.Cinema_content > .Over_View > div:nth-child(4) > ul > li > h2{
    font-size: 20px;
}

.Cinema_content > .Over_View > div > ul > li{
    margin-bottom: 5%;
}

.Quote{
    font-size: 25px;
    width: 40%;
    text-align: right;
}


.Black_glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.Over_View > div:first-child > ul > li > i{
    margin-right: 2%;
}

.Over_View > div:first-child > a > p{
    text-align: center;
    width: 40%;
    background-color: #ffffff;
    color: black;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Over_View > div:first-child > a > p:hover{
   background-color: #ff9800;
   color: white;
   transition: 0.3s ease-in-out;
}


/*--------------SEC 2 ----------------*/
.sec2{
    display: flex;
    padding-top: 7%;
    padding-bottom: 7%;
}
.sec2 > p{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 24px;
    margin-left: 2%;
    width: 18%;
}

.sec2 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin: 0;
}

.sec2 > .Introduction{
    width: 60%;
}

.Welcome > ul{
    list-style-type:decimal;
    padding-left: 2%;
}

.Welcome > ul > li{
    margin-bottom: 5%;
    text-align: justify;
    font-size: 18px;
}


.Highlight{
    display: flex;
}

.Highlight > div{
    width: 50%;
}

.Highlight > div:first-child{
    margin-right: 20%;
}

.Introduction > hr{
    margin-top: 10%;
}


/*---- Section 3 ----*/
.sec3{
    background-color: black;
}

.Menu_header{
    padding-top: 5%;
    display: flex;
    margin-left: 2%;
}

.Menu_header > p:first-child{
    width: 17%;
    margin: 0;
    color:#ff9f0f;
    font-size: 22px;
}

.Menu_header > p:last-child{
    margin: 0;
    width: 35%;
    color:#ffffff;
    font-size: 28px;
    font-weight: bold;
}

.Menu_List{
    margin-top: 5%;
}
.Menu_List > .Book > .Book_header > a{
    padding-left: 2%;
    margin-right: 2%;
    display: flex;
    font-size: 19px;
}

.Menu_List > .Book > .Book_header > a:hover{
    background-color: rgba(145, 145, 145, 0.5);
    transition: 0.2s ease-in-out;
}

.Menu_List > .Book > .Book_header > a > p > i{
    color: white;
}

.Menu_List > .Book > .Book_header > a > p:not(:nth-child(5)){
    width: 14%;
    color: white;
}
.Menu_List > .Book > .Book_header > a > p:nth-child(2){
    margin-left: 3%;
    width: 30%;
}
.Menu_List > .Book > .Book_header > a > p:nth-child(3){
    margin-right: 5%;
    color: #6a6a6a;
 }
 .Menu_List > .Book > .Book_header > a > p:nth-child(4)
 {
    margin-right: 10%;
 }
.Menu_List > .Book > .Book_header > a > p:nth-child(5){
   color: #6a6a6a;
}



/*-------- SEC 3 ------------*/
.sec3_header{
    position: relative;
}

.sec3_img {
    display: flex;
    justify-content: center;
}

.sec3_img > img{
    width: 100%;

}

.Header_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.Header_content > h2{
    font-size: 30px;
    color: #ff9f0f;
}

.Header_content > ul > li{
    color: white;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: justify;
}

.Header_content > ul > li:last-child > p{
    font-size: 16px;
    text-align: right;
}

.end{
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.end > p:first-child{
    color: #ff9f0f;
    font-size: 33px;
}

.end > p:nth-child(2){
    margin: 0 auto;
    font-size: 26px;
    width: 50%;
}

.Person{
    padding-top: 5%;
    display: flex;
    align-items: center;
}
.Person > div{
    width: 50%;
    margin: 0 auto;
}
.Person > div > p{
    color: #aaaaaa;
    font-size: 18px;
}
.img > img{
    width: 50%;
}



/*------------- Author Section ------------- */
.Author_Container{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.Author_Container > div{
    width: 30%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.Author:hover{
    color: orange;
    transition: 0.2s ease-in-out;
}
.Author:hover > .Author_img > img{
    transform: translateY(-5%);
    border: 1px solid white;
}

.Author_img > img{
    width: 100%;
    height: 280px;
    transition: 0.2s ease-in-out;
}

.Author_content{
    display: flex;
    font-size: 14px;

}

.Author_content > p:last-child{
    margin-left: 20%;
}

/*footer*/
footer {
    background-color: white;
    padding: 0;
    margin: 0;
}

.Footer_content{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Conclusion{
    display: flex;
    justify-content: center;
}
.Conclusion_left{
    color: black;
    width: 60%;
}
.Conclusion_right{
    width: 30%;
}
.Link > h3 {
    color: rgb(0, 34, 255);
    border-bottom: 2px solid rgb(0, 34, 255) ;
    text-align: center;
}


.Conclusion_right > div{
    margin-left: 10%;
}
.Conclusion_right > div > img{
    width: 100%;
}

.Conclusion_right> ul > li{
    margin-left: 10%;
    font-size: 24px;
}
.Conclusion_right> ul{
   margin-top: 10px;
   display: flex;
   justify-content: center;
}


.Superlink{
    display: flex;
}
.Superlink > .Link{
    margin-left: 5%;
    margin-right: 10%;
}
.Superlink > .Link > h3{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.Superlink > .Link > ul > li{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
/*dòng cuối trang*/
footer>a>p {
    border-top: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}


.Link >ul >li > a:hover{
    color:#004cfe;
    transform: 0.3s ease-in-out;
}

.Conclusion_right > ul > li > a > i:hover{
    color:#004cfe;
    transform: 0.3s ease-in-out;
}
