@import url(/CSS/KeyFrame.css);
* {
    font-family: Helvetica, sans-serif, Arial, 'Times New Roman';
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.preloader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
    background-color: #1d1f39;
  }

  .preloader > img{
    width: 30%;
  }
#Arrow_Up{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    margin-right: 1%;
    margin-bottom: -10%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 4px;
    border-radius: 5px;
    opacity: 0; /* Bắt đầu với opacity 0 */
    transition: margin-bottom 0.5s ease-in-out;
}


body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

.submenu{
    position: absolute;
    line-height: 1.5rem;
    top: 120%;
    display: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px;
    z-index: 10000;
}
.submenu>li>a{
    font-size: 18px;
}
.submenu>li>a:hover{
    color: #3e5efb;
    transition: 0.3s ease-in-out;
}
.submenu.show {
    display: block; /* Hiển thị submenu khi có lớp 'show' */
}

.submenu > li > hr{
    padding: 0;
    margin: 0;
}
/* Menu */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    transition: top 0.3s;
}

header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

header.hidden {
    opacity: 0;
    display: none;
}

#playWhite{
    color: white;
}
span > a > i {
    color: white;
}
/* Dòng đừng bỏ lỡ */
header>a {
    display: block;
    background-color: black;
    margin: 0;
    padding: 0;
}

header>a>p {
    color:whitesmoke;
    text-align: center;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    margin: 0;
    padding: 0;
}

/* menu phần trái*/
.menu_left {
    position: relative;
    width: 40%;
}

.menu_left>ul{
    display: flex;
}

.menu_left>ul>li{
    margin-right: 1.2rem;
}

.menu_left>ul>li>a {
    font-size: 16px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: black;
}

.menu_left>ul>li>a:hover{
    color: #5270ff;
    transition: 0.3s ease-in-out;
}

/*Hiệu ứng cho menu trái*/
.menu_left>ul>li>a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color:#5270ff;
    transition: width 0.3s ease-in-out;
}

.menu_left>ul>li>a:hover::after{
    width: 100%;
}
.menu_left>ul>li>a.active{
    background-color: white;
}
.menu_left>ul>li>a.active::after{
    width: 100%;
}

/* logo menu */
.Nav_Logo {
    width: 28%;
}


.Nav_Logo>div>a>img {
    width: 80%;
}

/*Menu phần phải*/
.menu_right {
    width: 25%;
}

.menu_right>ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.lang > a{
margin-left: 15px;
}
.menu_right>ul>li{
    margin-left: auto; 
}

.menu_right>ul>li:first-child{
    width: 70%;
    margin-right: 2rem;
}

.menu_right>ul>li ~:not(:first-child){
    width: 10%;
}

.menu_right>ul>li>a {
    text-decoration: none;
}

.menu_right>ul>li>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {   
    width: 70%;
    padding: 13px;      /* Thêm khoảng cách bên trong input */
    font-size: 16px;    /* Tăng kích thước font chữ */
    border: none;
    background-color: transparent;
    outline: none;
}
.input:hover {
    border: none;
    outline: none;
}
.menu_right>ul>li>div {
    border: 2px solid #000;
    border-radius: 50px;
}
.menu_right>ul>li>a>i{
    font-size: 24px;
}


/*Hiệu ứng Menu Right*/
.menu_right>ul>li>a>i:hover{
   color: #5270ff;
   transition: 0.2s ease-in-out;
}
.menu_right>ul>li>div>a>i:hover {
    color: #5270ff;
   transition: 0.2s ease-in-out;
}

/*Quảng cáo*/ 
.Introduction_Page{
    padding-top: 140px;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.video-container > .Black_glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Introduction_Page>.Introduction {
    padding-top: 60px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
}

.Introduction>div:first-child{
    width: 42%;
}

.Introduction>div:last-child{
    width: 44%;
    margin-left: 5%;
}
.right_introduction{
    text-align: right;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 99%, #5270ff 1%);
    padding: 20px;
    border: 1px solid #000000 ;
    border-radius: 15px;
}
.right_introduction:hover{
    border: 1px solid #5270ff ;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}
.right_introduction:hover > hr{
    border-color: #5270ff  ;
    transition: 0.3s ease-in-out;
}
.ad>li>p {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0;
}
.Bookoftheday{
    color:white;
    width: 100%;
}

.SeeMore {
    display: flex;
    justify-content: right;
    margin-top: 5%;
}
.SeeMore > a{
    padding: 7px;
    margin-left: 10%;
    border: 1px solid rgb(42, 192, 251);
    border-radius: 20px;
}
.SeeMore > a:hover{
    background-color: rgb(42, 80, 251);
    transition: 0.3s ease-in-out;
}
.SeeMore > a >p{
    margin: 0;
    padding: 0;
    color: white;
}
.Star > i{
    color: orange;
}
/*Hiệu ứng đánh máy cho chữ lớn */
.ad>li:first-child>p {
   overflow: hidden;
   white-space: nowrap; 
   animation: 
     DanhChu 2.5s steps(40, end),
     ConTro .75s step-end infinite;
}

.Introduction>div:first-child>a>p {
    width: 20%;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgb(42, 192, 251);
    text-align: center;
    border-radius: 15px;
    color:white;
}

.Introduction>div:first-child>a>p:hover {
    color:white;
    background: rgb(0, 132, 255);
    border: 1px solid rgb(42, 192, 251);
    transition: 0.3s ease-in-out;
}

.Introduction>div:last-child>a>img {
    margin-top: 65px;
    border-radius: 50px;
    width: 100%;
}

/*------------Slide Show------------*/
.TopSellBook{
    background-image: url(../Assest/Home/bookshop.png);
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: #1ca9f5;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 94%;
    margin-left: 3%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.TopSellBook:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
}
/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    margin-left: 1%;
    padding-right: 20px;

  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
    width: 100%;
    border-radius: 10%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 8, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    margin-left: 89%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #00ffcc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot_container{
    text-align: center;
    position: absolute;
    bottom: 2%;
    left: 40%;
  }
  
  .active, .dot:hover {
    background-color: #fe0000;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

.Book_info{
    width: 55%;
    margin-left: 20px;
    margin-right: 20px;
    animation: fade 1.5s;
}

.Book_info > h3{
    font-size: 28px;
    color:#f6ff00;
}
.Book_info > div>i{
    color:#f6ff00;
}
.Book_info > p{
    font-size: 18px;
    color: white;
    text-align: justify;
}
.Book_info > a > p{
    padding: 5px;
    border: 2px solid aquamarine;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.Book_info > a > p:hover{
   background-color: #004cfe;
   transition: 0.3s ease-in-out;
}
.Introduction_Page>.Category{
    background-color: white;
}
.tasks {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.tasks>li {
    width: 20%;
}
.task > li:hover > a{
    color: rgb(0, 76, 255);
}

.task {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
.task>li>a{
    color: black;
    font-weight: bold;
}
.task>li>a>img {
    margin-left: 10px;
}





/*---------------Quotes J.K-------------------*/
.BookSection_Introduction{
    background-image: url(../Assest/Home/background-mau-sac-xanh-duong_094943960.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}
.BookSection_Introduction > p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3%;
    color: white;
}

.BookSection_Introduction > p:first-child{
  font-size: 36px;
  font-weight: bold;
}

.BookSection_Introduction > p:nth-child(2){
    font-size: 25px;
  }

/*------------ Book Show --------------------*/
.Book_Container{
    margin-top: 50px;
    margin-bottom: 5%;
    margin-left: 4%;
    padding-bottom: 1%;
    background-color: white;
    width: 93%;
    border-radius: 0 15px 0 0;
    font-size: 16px;
}
.Book_Container > h3{
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 0 15px 0 0;
}
.Book_Container >ul{
    background-color: white;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Book_Container > ul > li{
    width: 18%;
}

.Book_Container > ul > li > a:hover{
    font-weight: bold;
}

.Book_Container > a > p{
    color: red;
    width: 10%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
.Book_Container > a > p:hover{
color: white;
background-color: red;
transition: 0.3s ease-in-out;
}
.fa-star{
    color: orange;
}
.ShowCase{
    display: flex;
    background-color: white;
    margin-left: 1%;
    margin-bottom: 1%;
}

.Left_ShowCase{
    width: 40%;
}

.Right_ShowCase{
    width: 70%;
}

.Left_ShowCase > .Book{
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}
.Left_ShowCase > .Book > p{
    margin-right: 10px;
}
.Left_ShowCase > .Book > .img_book{
    width: 30%;
}
.Left_ShowCase > .Book > div > img{
    border: 2px solid gray;
    width: 100%;
}

.Left_ShowCase > .Book > .Book_content{
    margin-left: 10px;
}

.Book_content > p{
    margin: 0;
    margin-bottom: 10px;
}

.Left_ShowCase{
    border-right: 1px solid black;
}
.Left_ShowCase > .Book:hover{
    border-right: 2px solid rgb(0, 72, 255);
    color: rgb(0, 81, 255);
    font-weight: bold;
}
.Left_ShowCase > .Book:hover > div > img{
    border: 2px solid rgb(0, 81, 255);
}
#BookInfo{
    margin-left: 2%;
    display: flex;
    align-items: center;
}


#BookInfo > div{
    width: 50%;
    margin-right: 5%;
}
#BookInfo > div:last-child > a > p{
    border: 2px solid red;
    color: red;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
#BookInfo > div:last-child > a > p:hover{
    color: white;
    background-color: red;
    transition: 0.3s ease-in-out;
}
#BookInfo > div:first-child > img{
    margin-top: 10%;
    width: 100%;
    border: 2px solid rgb(170, 170, 170)  ;
}


/*Điền subcription*/
.Subcription{
    width: 92%;
    background-color: rgb(1, 102, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.Subcription >p{
    color: white;
    text-align: right;
    width: 50%;
    background-color: rgb(1, 102, 254) !important;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.search{
    margin-left: 30px;
    font-size: 20px;
    border-radius: 7px;
    border-color: black;
}

.nut{
    font-size: 20px;
    margin-left: 30px ;
    color: white;
    padding: 6px;
    background-color: rgb(255, 183, 0);
    border-radius: 20px;
}

.Subcription > .form{
    width: 50%;
    display: flex;
    align-items: center;
}


.Pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    display: none;
    transition: transform 0.5s ease-in-out;
}


.img_container img {
    width: 100%;
    border-radius: 10px;
}
.Content{
    text-align: center;
}
.Content p {
    margin: 0 0;
}

.Content p > i{
    color: red;
}

.img_container img {
    width: 100%;
    border-radius: 10px;
}
/*footer*/
footer {
    background-color: white;
    padding: 0;
    margin: 0;
}

.Footer_content{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Conclusion{
    display: flex;
    justify-content: center;
}
.Conclusion_left{
    color: black;
    width: 60%;
}
.Conclusion_right{
    width: 30%;
}
.Link > h3 {
    color: rgb(0, 34, 255);
    border-bottom: 2px solid rgb(0, 34, 255) ;
    text-align: center;
}


.Conclusion_right > div{
    margin-left: 10%;
}
.Conclusion_right > div > img{
    width: 100%;
}

.Conclusion_right> ul > li{
    margin-left: 10%;
    font-size: 24px;
}
.Conclusion_right> ul{
   margin-top: 10px;
   display: flex;
   justify-content: center;
}


.Superlink{
    display: flex;
}
.Superlink > .Link{
    margin-left: 5%;
    margin-right: 10%;
}
.Superlink > .Link > h3{
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.Superlink > .Link > ul > li{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
/*dòng cuối trang*/
footer>a>p {
    border-top: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}


.Link >ul >li > a:hover{
    color:#004cfe;
    transform: 0.3s ease-in-out;
}

.Conclusion_right > ul > li > a > i:hover{
    color:#004cfe;
    transform: 0.3s ease-in-out;
}