
/*----------- Very big screen ------------*/
@media only screen and (min-width: 1550px) and (max-width: 1920px) {
    .menu_left >ul > li > a {
        font-size: 18px !important;
    }

    .Subcontent > p{
        font-size: 18px;
    }
}


/*----------- Very big screen ------------*/
@media only screen and (min-width: 1177px) and (max-width: 1310px) {
    .menu_left >ul > li > a {
        font-size: 12px;
    }


}

@media only screen and (min-width: 1px) and (max-width: 1177px){
   .menu_left{
        display: none;
   }

   .menu_right{
    display: none;
   }
}

@media only screen and (max-width: 1023px){
*{
    display: none;
}

}